// Breakpoints
$phone: "599px";
$tablet: "600px";
$tablet-landscape: "900px";
$desktop: "1200px";
$desktop-big: "1800px";
$body-width: 1280;

// Fonts
$browser-context: 16;
$font-light: "SF UI Text Light";
$font-regular: "SF UI Text Regular";
$font-semibold: "SF UI Text Semibold";
$font-bold: "SF UI Text Bold";

// Sizes
$size-sm: 8px;
$size-md: 16px;
$size-lg: 32px;
$size-xl: 64px;
$size-xxl: 128px;

// Buttons
$btn-small: 200px;
$btn-lg: 500px;
