@import "../styles/sass-helpers.scss";

.message__center {
  display: flex;
  flex-direction: column;
  background-color: $white;
  &__header {
    height: 100px;
    background-color: $red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    &--collapseOption,
    &--avatar,
    &--text,
    &--hamburguer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      color: $white;
      @include typ(ui, xl);
    }
    &--collapseOption {
      width: 10%;
      text-align: center;
      margin-top: 25px;
      cursor: pointer;
    }
    &--avatar {
      width: 15%;
      .avatar {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: $white;
        text-align: center;
      }
    }
    &--text {
      width: 60%;
    }
    &--hamburguer {
      width: 10%;
      text-align: center;
      @include typ(ui, xl);
      cursor: pointer;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 500px;
    background-color: $white;
    overflow-y: scroll;
  }
  &__actions {
    height: 60px;
    background-color: $yellow;
  }
  &__footer {
    height: 40px;
    background-color: $white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include typ(ui, sm);
  }
}

.bot__style {
  margin-right: 60px;
}
.user__style {
  margin-left: 60px;
}
