@import "../styles/sass-helpers.scss";

.message__center {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.26),
    0px 14px 28px rgba(0, 0, 0, 0.25);
  //white-space: nowrap;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 100px;
    background-color: $red;

    &--collapseOption,
    &--avatar,
    &--text,
    &--hamburguer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      color: $white;
      @include typ(ui, xl);
    }

    &--collapseOption {
      width: 10%;
      text-align: center;
      margin-top: 25px;
      cursor: pointer;
    }

    &--avatar {
      width: 15%;
      .avatar {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-image: url("../../assets/images/baby-yoda.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
      }
    }

    &--text {
      width: 60%;
    }

    &--hamburguer {
      width: 10%;
      text-align: center;
      @include typ(ui, xl);
      cursor: pointer;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 500px;
    background-color: $white;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__chips {
    display: flex;
    flex-direction: column;
    background-color: $white;
    margin: 10px 0;
    border-top: 1px solid $gray-200;
    border-bottom: 1px solid $gray-200;

    &--text-info {
      position: relative;
      color: $black;
      padding: 2px 30px;
      @include typ(ui, md);
    }

    &--buttons {
      display: flex;
      flex-direction: row;
      overflow-x: hidden;
      white-space: nowrap;
    }
    .arrow__button {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      background-color: $white;
      right: 0;
      top: 70px;
      cursor: pointer;

      omb-chat-button {
        display: inline-block;
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 60px;
    background-color: $white;

    &--input {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      width: 80%;
      padding: 0 20px;

      input[type="text"] {
        width: 100%;
        border: 1px solid $gray-500;
        border-radius: 4px;
        text-align: left;
        padding-left: 10px;
        color: $gray-700;
        @include typ(ui, md);
      }
    }

    &--button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      width: 20%;
      padding: 12px 0;
      margin: 0 15px;
      color: $white;
      text-align: center;
      background-color: $red;
      border-radius: 30px;
      cursor: pointer;
      @include typ(ui, xl);
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    background-color: $white;
    @include typ(ui, sm);
  }
}

.message__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;

  right: 0;
  height: auto;
  width: 260px;
  top: 100px;
  background-color: $white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.26),
    0px 14px 28px rgba(0, 0, 0, 0.25);

  &--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    @include typ(ui, md);
  }
  &--item:hover {
    background-color: $gray-500;
    color: white;
  }
}

.bot__style {
  margin-right: 60px;
}
.user__style {
  margin-left: 60px;
}
