<div class="message__center">
  <section class="message__center__header">
    <div class="message__center__header--collapseOption">
      <fa-icon [icon]="faMinus"></fa-icon>
    </div>
    <div class="message__center__header--avatar">
      <div class="avatar"></div>
    </div>
    <div class="message__center__header--text">{{ botName }}</div>
    <div class="message__center__header--hamburguer">
      <fa-icon [icon]="faBars"></fa-icon>
    </div>
  </section>
  <section #scrollMe class="message__center__body">
    <omb-message [userFrom]="1" [class]="setStyleByUserFrom(1)">
      <div content>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita
        fugiat architecto dignissimos sed iusto praesentium harum quis
        voluptatum beatae, debitis assumenda, similique repellat quasi.
      </div>
    </omb-message>
    <omb-message [userFrom]="2" [class]="setStyleByUserFrom(2)">
      <div content>Lorem ipsum dolor, sit amet consectetur</div>
    </omb-message>
    <omb-message [userFrom]="1" [class]="setStyleByUserFrom(1)">
      <div content>Lorem ipsum dolor, sit amet consectetur</div>
    </omb-message>
    <omb-message [userFrom]="2" [class]="setStyleByUserFrom(2)">
      <div content>Lorem ipsum dolor, sit amet consectetur</div>
    </omb-message>
    <omb-message [userFrom]="1" [class]="setStyleByUserFrom(1)">
      <div content>Lorem ipsum dolor, sit amet consectetur</div>
    </omb-message>
    <omb-message [userFrom]="2" [class]="setStyleByUserFrom(2)">
      <div content>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita
        fugiat architecto dignissimos sed iusto praesentium harum quis
        voluptatum beatae, debitis assumenda, similique repellat quasi.
      </div>
    </omb-message>
    <omb-message [userFrom]="1" [class]="setStyleByUserFrom(1)">
      <div content>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita
        fugiat architecto dignissimos sed iusto praesentium harum quis
        voluptatum beatae, debitis assumenda, similique repellat quasi.
      </div>
    </omb-message>
  </section>
  <section class="message__center__actions">
    <div class="message__center__actions--input">
      <input type="text" placeholder="Escribe tu pregunta" />
    </div>
    <div class="message__center__actions--button">
      <div class="sendButton">
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </div>
    </div>
  </section>
  <section class="message__center__footer">
    <p>{{ footer_text }}</p>
  </section>
</div>
