@import "../styles/sass-helpers.scss";

.message__center {
  display: flex;
  flex-direction: column;
  background-color: $white;
  &__header {
    height: 100px;
    background-color: $red;
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 500px;
    background-color: $white;
    overflow-y: scroll;
  }
  &__actions {
    height: 60px;
    background-color: $yellow;
  }
  &__footer {
    height: 40px;
    background-color: $blue;
  }
}

.bot__style {
  margin-right: 60px;
}
.user__style {
  margin-left: 60px;
}
