<div class="message__center" [@collapse]="collapsed ? true : false">
  <section class="message__center__header">
    <div class="message__center__header--collapseOption">
      <fa-icon [icon]="faMinus" (click)="collapseMenu()"></fa-icon>
    </div>
    <div class="message__center__header--avatar">
      <div class="avatar"></div>
    </div>
    <div class="message__center__header--text">{{ botName }}</div>
    <div
      class="message__center__header--hamburguer"
      (click)="openMenu()"
      (clickOutside)="onClickedOutside($event)"
    >
      <fa-icon [icon]="faBars"></fa-icon>
    </div>
  </section>
  <section #scrollMe class="message__center__body">
    <omb-message
      *ngFor="let message of messages"
      [userFrom]="message.userFrom"
      [class]="setStyleByUserFrom(message.userFrom)"
    >
      <div content *ngIf="message.type === 1">
        {{ message.content.text }}
      </div>
      <div content *ngIf="message.type === 5">
        <omb-image-card [images]="message.content"></omb-image-card>
      </div>
    </omb-message>
  </section>
  <section class="message__center__chips">
    <div class="message__center__chips--text-info">
      <p>Estas son algunas de las cosas que me puedes preguntar</p>
    </div>
    <div class="message__center__chips--buttons">
      <omb-chat-button
        textContent="Qué es un chatbot"
        (emitter)="getTextEmitted($event)"
      ></omb-chat-button>
      <omb-chat-button
        textContent="Para qué sirve"
        (emitter)="getTextEmitted($event)"
      ></omb-chat-button>
    </div>
  </section>

  <form [formGroup]="messageForm" (keydown)="keyDownFunction($event)">
    <section class="message__center__actions">
      <div class="message__center__actions--input">
        <input
          type="text"
          placeholder="Escribe tu pregunta"
          formControlName="sendText"
        />
      </div>
      <div class="message__center__actions--button">
        <div class="sendButton" (click)="onSubmit()">
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </div>
      </div>
    </section>
  </form>

  <section class="message__center__footer">
    <p>{{ footerText }}</p>
  </section>
  <div class="message__menu" [@openClose]="opened ? true : false">
    <div class="message__menu--item">
      <p>Política de privacidad</p>
    </div>
    <div class="message__menu--item">
      <p>Seleccionar Idioma</p>
    </div>
    <div class="message__menu--item">
      <p>Olvidar mis datos</p>
    </div>
  </div>
</div>
