<div class="message__center">
  <section class="message__center__header">
    <div class="message__center__header--collapseOption">
      <fa-icon [icon]="faMinus"></fa-icon>
    </div>
    <div class="message__center__header--avatar">
      <div class="avatar"></div>
    </div>
    <div class="message__center__header--text">{{ botName }}</div>
    <div class="message__center__header--hamburguer">
      <fa-icon [icon]="faBars"></fa-icon>
    </div>
  </section>
  <section #scrollMe class="message__center__body">
    <omb-message
      *ngFor="let message of messages"
      [userFrom]="message.userFrom"
      [class]="setStyleByUserFrom(message.userFrom)"
    >
      <div content>
        {{ message.content.text }}
      </div>
    </omb-message>
  </section>
  <section class="message__center__chips">
    <div class="message__center__chips--text-info">
      <p>Estas son algunas de las cosas que me puedes preguntar</p>
    </div>
    <div class="message__center__chips--buttons">
      <omb-chat-button
        textContent="Qué es un chatbot"
        (emitter)="getTextEmitted($event)"
      ></omb-chat-button>
      <omb-chat-button
        textContent="Para qué sirve"
        (emitter)="getTextEmitted($event)"
      ></omb-chat-button>
    </div>
  </section>
  <section class="message__center__actions">
    <div class="message__center__actions--input">
      <input type="text" placeholder="Escribe tu pregunta" />
    </div>
    <div class="message__center__actions--button">
      <div class="sendButton">
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </div>
    </div>
  </section>
  <section class="message__center__footer">
    <p>{{ footerText }}</p>
  </section>
</div>
