@import "../styles/sass-helpers.scss";

.message__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  margin: 10px;
  @include typ(ui, md);

  &--bot {
    background-color: $gray-200;
    border: none;
    border-radius: 5px 20px;
  }

  &--user {
    background-color: $white;
    border: 2px solid $gray-200;
    border-radius: 20px 5px;
  }
}
